<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文章页</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/article.css">
    <!-- 代码高亮支持 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atelier-plateau-light.min.css">
    <link rel="stylesheet" href="css/nprogress.css">
</head>

<body>
    <!-- 侧边栏 -->
    <aside class="sidebar">
        <div class="brand">
            <div>
                <a href="/" id="head-portrait"><img src="/img/1.jpg"></a>
                <div id="name">猴几</div>
                <div id="e-mail"><a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=z6el-v36_-79-I__vuGsoKI" target="_blank">hj1254123@qq.com</a></div>
            </div>
        </div>
        <div class="about">
            <div class="about-item activate"><a href="/"><i class="iconfont">&#xe624;</i>Home</a></div>
            <div class="about-item"><a href="/tags"><i class="iconfont">&#xec34;</i>Tags</a></div>
            <div class="about-item"><a href="https://github.com/hj1254123" target="_blank"><i class="iconfont">&#xe607;</i>Github</a></div>
        </div>
        <div class="iconfont shut">&#xe61a;</div>
    </aside>

    <main>
        <article>
            <!-- header -->
            <header>
                <div class="header">
                    <i class="iconfont menu">&#xe61e;</i>
                    <span class="header-title"></span>
                </div>
                <div class="header-content">
                </div>
            </header>

            <div class="content clearfix">
                <!-- 文章 -->
                <div class="article clearfix">

                    <div class="article-title">
                        <h1 class="article-title-h1">文章标题</h1>
                        <time>2018年10月7日</time>
                    </div>
                    <!-- 文章内容 -->
                    <div class="article-content">
                    </div>
                    <!-- 文章标签 -->
                    <div class="article-tags">
                        <div class="post-tags ">
                            <ul class="tags-list clearfix">

                            </ul>
                        </div>
                    </div>


                </div>

                <!-- 文章导航栏 -->
                <!-- <div class="article-nav">
                    <nav>
                        <h4>TOC</h4>
                        <ul>
                            <li><a href="#" class="active">article哈哈</a></li>
                            <li><a href="#">article</a></li>
                            <li><a href="#">blockquote</a></li>
                        </ul>
                    </nav>
                </div> -->
                <!-- 评论 -->
                <div class="comment clearfix">
                    <h3>评论区</h3>
                    <div class="comment-post">
                        <div class="comment-post-title">
                            <input id="formName" type="text" placeholder="昵称">
                            <input id="formMail" name="mail" type="email" placeholder="邮箱(不公开)">

                            </div>
                        <div class="comment-post-content">
                            <textarea id="formContent" name="name" placeholder="说点什么？"></textarea>
                        </div>
                        <button class="comment-submit">回复</button>
                    </div>
                    <!-- 评论数 -->
                    <div class="number-of-comments"><span id="comments-number">0</span> 评论</div>

                    <!-- 评论列表 -->

                    <!-- <div class="comment-list ">
                        <div class="comment-icon"><img src="/img/default-icon.png"></div>
                        <div class="comment-list-box">
                            <div class="comment-username">default</div>
                            <div class="comment-time">2018-9-30</div>
                            <div class="comment-content">我也是，对自己的前端技术有着过分的自信，没想到面试完爆了我。前辈，求指教。我也是，对自己的前端技术有着过分的自信，没想到面试完爆了我。前辈，求指教。我也是，对自己的前端技术有着过分的自信，没想到面试完爆了我。前辈，求指教。</div>
                            <button class="comment-reply">回复</button>
                        </div>
                    </div> -->

                </div>
            </div>

            <!-- footer -->
            <footer>
                <div class="footer-top">

                    <p>由于技术有限，本博客暂时不会更新，仅用于练习代码能力</p>
                </div>
                <div class="footer-bottom">
                    <p>
                        前端使用: 原生 [JS · HTML · CSS];后端使用: [NodeJS] 开发;
                        <br>
                        样式防自<a href="https://imys.net">imys.net</a>;
                        <br>
                        ---END---
                    </p>
                </div>
            </footer>
            <div class="mask"></div>
        </article>

    </main>


    <!-- 返回页面顶部 -->
    <a href="JavaScript:;" class="backToTop">
        <span class="iconfont">&#xe67f;</span>
    </a>
    <!-- 代码高亮支持 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <!-- markdown支持  -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <!-- 进度条支持 -->
    <script src="js/nprogress.js"></script>
    <script src="js/iviv.js"></script>
    <script src="js/common.js"></script>
    <script src="js/article.js"></script>
    <script src="js/waves.min.js"></script>

</body>

</html>
