<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tags</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="/css/tags.css">
</head>
<body>
    <aside class="sidebar">
        <div class="brand">
            <div>
                <a href="/" id="head-portrait"><img src="/img/1.jpg"></a>
                <div id="name">侯剑</div>
                <div id="e-mail"><a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=z6el-v36_-79-I__vuGsoKI">hj1254123@qq.com</a></div>
            </div>
        </div>
        <div class="about">
            <div class="about-item activate"><a href="/"><i class="iconfont">&#xe624;</i>Home</a></div>
            <div class="about-item"><a href="/tags.html"><i class="iconfont">&#xec34;</i>Tags</a></div>
            <div class="about-item"><a href="/"><i class="iconfont">&#xe607;</i>Github</a></div>
        </div>
        <div class="iconfont shut">&#xe61a;</div>
    </aside>
    <main>
        <header>
            <div class="header">
                <i class="iconfont menu">&#xe61e;</i>
                <span class="header-title">Tags</span>
            </div>
            <div class="header-content">
                <div>
                    <h1>Tags</h1>
                </div>
            </div>
            <div class="tags-nav">
                <ul>
                    <li class="active"><a href="#">全部</a></li>
                    <li><a href="#">VUE</a></li>
                    <li><a href="#">VUE</a></li>
                    <li><a href="#">VUE</a></li>
                    <li><a href="#">VUE</a></li>
                    <li><a href="#">VUE</a></li>
                    <li><a href="#">VUE</a></li>
                    <li><a href="#">VUE</a></li>
                    <li><a href="#">VUE</a></li>
                    <li><a href="#">VUE</a></li>
                    <li><a href="#">VUE</a></li>
                    <li><a href="#">···</a></li>
                </ul>
            </div>
        </header>

        <div class="content">
            <div class="box clearfix">
                <h3>Html</h3>
                <div class="article-item">
                    <time>2018年10月7日</time>
                    <h3><a href="#">如何为Canvas中特定图形绑定事件？</a></h3>
                    <div class="post-tags clearfix">
                        <ul class="tags-list">
                            <li class="tags-list-item"><a href="/">标签一</a></li>
                            <li class="tags-list-item"><a href="/">标签二标签二</a></li>
                            <li class="tags-list-item"><a href="/">MOngodb</a></li>
                            <li class="tags-list-item"><a href="/">MOngodb</a></li>
                            <li class="tags-list-item"><a href="/">MOngodb</a></li>

                        </ul>
                    </div>
                </div>
                <div class="article-item">
                    <time>2018年10月7日</time>
                    <h3><a href="#">如何为Canvas中特定图形绑定事件？</a></h3>
                    <div class="post-tags clearfix">
                        <ul class="tags-list">
                            <li class="tags-list-item"><a href="/">标签一</a></li>
                            <li class="tags-list-item"><a href="/">标签二标签二</a></li>
                            <li class="tags-list-item"><a href="/">MOngodb</a></li>
                            <li class="tags-list-item"><a href="/">MOngodb</a></li>
                        </ul>
                    </div>
                </div>
                <div class="article-item">
                    <time>2018年10月7日</time>
                    <h3><a href="#">如何为Canvas中特定图形绑定事件？</a></h3>
                    <div class="post-tags clearfix">
                        <ul class="tags-list">
                            <li class="tags-list-item"><a href="/">标签一</a></li>
                            <li class="tags-list-item"><a href="/">标签二标签二</a></li>
                            <li class="tags-list-item"><a href="/">MOngodb</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="box clearfix">
                <h3>Html</h3>
                <div class="article-item">
                    <time>2018年10月7日</time>
                    <h3><a href="#">如何为Canvas中特定图形绑定事件？</a></h3>
                    <div class="post-tags clearfix">
                        <ul class="tags-list">
                            <li class="tags-list-item"><a href="/">标签一</a></li>
                            <li class="tags-list-item"><a href="/">标签二标签二</a></li>
                            <li class="tags-list-item"><a href="/">MOngodb</a></li>

                        </ul>
                    </div>
                </div>
                <div class="article-item">
                    <time>2018年10月7日</time>
                    <h3><a href="#">如何为Canvas中特定图形绑定事件？</a></h3>
                    <div class="post-tags clearfix">
                        <ul class="tags-list">
                            <li class="tags-list-item"><a href="/">标签一</a></li>
                            <li class="tags-list-item"><a href="/">标签二标签二</a></li>
                            <li class="tags-list-item"><a href="/">MOngodb</a></li>

                        </ul>
                    </div>
                </div>
                <div class="article-item">
                    <time>2018年10月7日</time>
                    <h3><a href="#">如何为Canvas中特定图形绑定事件？</a></h3>
                    <div class="post-tags clearfix">
                        <ul class="tags-list">
                            <li class="tags-list-item"><a href="/">标签一</a></li>
                            <li class="tags-list-item"><a href="/">标签二标签二</a></li>
                            <li class="tags-list-item"><a href="/">MOngodb</a></li>

                        </ul>
                    </div>
                </div>
                <div class="article-item">
                    <time>2018年10月7日</time>
                    <h3><a href="#">如何为Canvas中特定图形绑定事件？</a></h3>
                    <div class="post-tags clearfix">
                        <ul class="tags-list">
                            <li class="tags-list-item"><a href="/">标签一</a></li>
                            <li class="tags-list-item"><a href="/">标签二标签二</a></li>
                            <li class="tags-list-item"><a href="/">MOngodb</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="footer-top">

                <p>由于技术有限，本博客暂时不会更新，仅用于练习代码能力</p>
            </div>
            <div class="footer-bottom">
                <p>
                    前端使用: 原生 [JS · HTML · CSS];后端使用: [NodeJS] 开发;
                    <br>
                    样式防自<a href="https://imys.net">imys.net</a>;
                    <br>
                    ---END---
                </p>
            </div>
        </footer>
        <div class="mask"></div>
    </main>
    <a href="JavaScript:;" class="backToTop">
        <span class="iconfont">&#xe67f;</span>
    </a>
    <script src="js/iviv.js"></script>
    <script src="js/common.js"></script>
    <script src="js/tags.js"></script>
</body>
</html>
