<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>文章上传</title>
</head>
<body>
    <input type="file" id="file">
    <br>
    <label>设置文章标题
        <input type="text">
    </label>
    <br>
    <label>设置文章简介
        <input type="text">
    </label>
    <br>
    <label>设置标签,用 | 分割
        <input type="text">
    </label>
    <br>
    <label>输入密码：
        <input type="text">
    </label>
    <br>
    <button>上传</button>
    <script src="js/iviv.js"></script>
    <script src="js/uploadArticle.js"></script>
</body>
</html>
