
/* =================content============================ */
.content {
    max-width: 960px;
    margin: 25px auto;
    min-height: calc(100vh - 340px);
}
.content section {
    padding: 20px 20px 0 20px;
    background: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(151,151,151,0.58);
            box-shadow: 0 1px 2px rgba(151,151,151,0.58);
    margin-bottom: 30px;
}
.content section time {
    margin: 0 0 10px;
    line-height: 14px;
    font-size: 13px;
    font-weight: bold;
    color: #727272;
    overflow: hidden;
}
.content section h3 {
    font-size: 24px;
    line-height: 32px;
    color: #3f51b5;
    margin: 10px 0 16px;
    font-weight: 400;
}
.content section h3 a {
    color: inherit;
    position: relative;
}
.content section h3 a::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #3f51b5;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.content section h3 a:hover::after {
    width: 100%;
    left: 0;
}
.content section .post-content {
    font-size: 16px;
    padding-bottom: 16px;
}
.content section .post-content p {
    display: inline-block;
    line-height: 24px;
    margin: 0;
    text-indent: 2em;
}
.content section .post-content a {
    font-size: 16px;
    color: #3f51b5;
    height: 20px;
    line-height: 20px;
    padding: 2px;
    border-radius: 3px;
}
.content section .post-content a:hover {
    background: #eaecf7;
}

/* ===================pageNav========================== */
#page-nav {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
.page-nav {
    display: inline-block;
}
.page-nav a {
    display: inline-block;
    line-height: 34px;
    padding: 0 14px;
    margin: 0 2px;
    font-size: 14px;
    color: #727272;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}
.page-nav a:hover {
    color: #3f51b5;
    background: #dadada;
}
.page-nav .page-nav-activate {
    background: #3f51b5 !important;
    color: #fff !important;
}
